
@{
    ViewData["Title"] = "Info";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}


<div class="section-body">
    <div class="col-8 col-md-8 col-lg-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2>Thông Tin Người Dùng</h2>
            </div>
            <div class="card-body">
                <form method="post" class="needs-validation">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-12 col-12">
                                <label>Họ và Tên</label>
                                <input type="text" class="form-control">
                                <div class="invalid-feedback">
                                    Vui lòng nhập tên
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7 col-12">
                                <label>Email</label>
                                <input type="email" class="form-control" value="test@example.com">
                                <div class="invalid-feedback">
                                    Please fill in the email
                                </div>
                            </div>
                            <div class="form-group col-md-5 col-12">
                                <label>Phone</label>
                                <input type="tel" class="form-control" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-12">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control">
                                <div class="invalid-feedback">
                                    Vui lòng nhập địa chỉ
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-12">
                                <label>Ủy Quyền</label>
                                <select class="form-control form-control-sm">
                                    <option>Admin</option>
                                    <option>Người Dùng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary">Lưu thay đổi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

