
@{
    ViewData["Title"] = "Order";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}

<div class="section-body">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Quản Lí Đơn Hàng</h2>
            </div>
            <div class="card-body">
                <table class="table" id="product-table">
                    <thead>
                        <tr>
                            <th class="col-2 text-center">Mã Đơn Hàng</th>
                            <th class="col-1 text-center">Mã Sản Phẩm</th>
                            <th class="col-2 text-center">Ngày Mua</th>
                            <th class="col-2 text-center">Số Lượng</th>
                            <th class="col-2 text-center">Thành Tiền</th>
                            <th class="col-2 text-center">Trạng Thái</th>
                            <th scope="col-1">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>
                                1
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                1/1/2024
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                $265
                            </td>
                            <td>
                                Mai giao
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary">Xem</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

