@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb -->
<div id="breadcrumb">
	<div class="container">
		<h2 class="title">Giới Thiệu</h2>

		<ul class="breadcrumb">
			<li><a asp-controller="MainPage" asp-action="Index">Trang Chủ</a></li>
			<li><span>Giới Thiệu</span></li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="about-us intro">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="intro-header">
						<h3>Welcome To Thong Fast Food</h3>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="intro-left">
						<div class="intro-item">
							<p><img src="~/img/product/comchienhaisan.jpg" alt="Intro Image"></p>
							<h2>Thực phẩm vệ sinh</h2>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="intro-right">
						<div class="intro-item">
							<p><img src="~/img/product/canhrongbien.jpg" alt="Intro Image"></p>
							<h2>100% An Toàn</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

