@model ThongFastFood_Api.Models.UserVM

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}

<h2>Cập nhật thông tin người dùng</h2>
<a asp-action="User" class="btn btn-danger">Trở về</a>

<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="EditUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Họ và tên</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-7">
                    <label class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label">Số điện thoại</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mb-4 w-100" type="submit">Lưu Thay Đổi</button>
            </div>
        </form>
    </div>
</div>
