@{
	ViewData["Title"] = "List Product";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ThongFastFood_Api.Models.ProductVM>


<!-- Breadcrumb -->
<div id="breadcrumb">
	<div class="container">
		<h2 class="title">Danh Mục Sản Phẩm</h2>

		<ul class="breadcrumb">
			<li><a asp-controller="MainPage" asp-action="Index">Trang Chủ</a></li>
			<li>Danh Mục Sản Phẩm</li>
		</ul>
	</div>
</div>


<div class="container">
	<div class="row">
		<!-- Sidebar -->
		<div id="left-column" class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<!-- Block - Product Categories -->
			<form action="#">
				<div class="block product-categories">
					<h3 class="block-title">Loại</h3>

					<div class="block-content">
						<div class="item">
							<a class="category-title" asp-controller="Category" asp-action="ListProduct">Tea and Coffee</a>
						</div>

						<div class="item">
							<a class="category-title" asp-controller="Category" asp-action="ListProduct">Jam</a>
						</div>

						<div class="item">
							<a class="category-title" asp-controller="Category" asp-action="ListProduct">SeaFood</a>
						</div>

						<div class="item">
							<a class="category-title" asp-controller="Category" asp-action="ListProduct">Fresh Meats</a>
						</div>
					</div>
				</div>


				<!-- Block - Filter -->
				<div class="block product-filter">
					<h3 class="block-title">Giá</h3>

					<div class="block-content">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="priceRange" id="priceRangeUnder100" value="under_100" checked>
							<label class="form-check-label" for="priceRangeUnder100">
								Tất cả
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="priceRange" id="priceRange100to500" value="100_to_500">
							<label class="form-check-label" for="priceRange100to500">
								100.000 - 500.000
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="priceRange" id="priceRange500to1000" value="500_to_1000">
							<label class="form-check-label" for="priceRange500to1000">
								500.000 - 1.000.000
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="priceRange" id="priceRangeAbove1000" value="above_1000">
							<label class="form-check-label" for="priceRangeAbove1000">
								Trên 1.000.000
							</label>
						</div>
					</div>
				</div>

				<div class="form-group text-left">
					<input type="submit" class="btn btn-primary" value="Lọc">
				</div>
			</form>

		</div>

		<!-- Page Content -->
		<div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			<div class="product-category-page">
				<!-- Nav Bar -->
				<div class="products-bar">
					<div class="row">
						<div class="col-md-4 col-xs-4">
							<div class="total-products">There are 12 products</div>
						</div>

						<div class="col-md-8 col-xs-8">
							<div class="filter-bar">
								<form action="#" class="pull-right">
									<div class="select">
										<select class="form-control">
											<option value="">Sắp Xếp</option>
											<option value="1">Giá giảm</option>
											<option value="2">Giá tăng</option>
											<option value="3">A -> Z</option>
											<option value="4">Z -> A</option>
										</select>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="products-block">
					<div class="row">
						@foreach(var item in Model)
						{
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="product-item">
									<div class="product-image">
										<a asp-controller="Category" asp-action="DetailProduct" asp-route-id="@item.ProductId">
											<img class="img-responsive" src="~/img/product/@item.ProductImage" alt="Product Image">
										</a>
									</div>

									<div class="product-title">
										<a asp-controller="Category" asp-action="DetailProduct">
											@item.ProductName
										</a>
									</div>

									<div class="product-price">
										<span class="sale-price">@String.Format("{0:N0}", item.ProductPrice)đ</span>

									</div>

									<div class="product-buttons">
										<a class="add-to-cart" asp-controller="Cart" asp-action="CartInfo">
											<i class="fa fa-shopping-basket" aria-hidden="true"></i>
										</a>

										<a class="quickview" asp-controller="Category" asp-action="DetailProduct">
											<i class="fa fa-eye" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
						}
					</div>
				</div>

				<!-- Pagination Bar -->
				<div class="pagination-bar">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="pagination">
								<ul class="page-list">
									<li><a href="#" class="prev">Previous</a></li>
									<li><a href="#" class="current">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#" class="next">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

