@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Từ Chối Truy Cập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">



<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"]</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700" rel="stylesheet">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/libs/font-material/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="~/libs/nivo-slider/css/nivo-slider.css">
	<link rel="stylesheet" href="~/libs/nivo-slider/css/animate.css">
	<link rel="stylesheet" href="~/libs/nivo-slider/css/style.css">
	<link rel="stylesheet" href="~/libs/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="~/libs/slider-range/css/jslider.css">

	<!-- Template CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/reponsive.css">
</head>

<body class="home home-1">
	<div id="all">
		<!-- Main Content -->
		<div id="content" class="site-content page-404">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="image mb-3" style="display: flex; justify-content: center;">
							<img class="img-responsive text-center" src="~/img/access-denied.jpg" width="65%" alt="Image 404">
						</div>
						<div class="text-center mb-3"><h1>Bạn không đủ quyền hạn để vào vùng này.</h1></div>
						<div style="display: flex; justify-content: center;">
							<a class="btn btn-primary" asp-area="" asp-controller="MainPage" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i><span>Về Trang Chủ</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Vendor JS -->
	<script src="~/libs/jquery/jquery.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.js"></script>
	<script src="~/libs/jquery.countdown/jquery.countdown.js"></script>
	<script src="~/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
	<script src="~/libs/owl.carousel/owl.carousel.min.js"></script>
	<script src="~/libs/slider-range/js/tmpl.js"></script>
	<script src="~/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
	<script src="~/libs/slider-range/js/draggable-0.1.js"></script>
	<script src="~/libs/slider-range/js/jquery.slider.js"></script>
	<script src="~/libs/elevatezoom/jquery.elevatezoom.js"></script>

	<!-- Template CSS -->
	<script src="~/js/main.js"></script>
</body>


</html>