@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Từ Chối Truy Cập";
    Layout = null;
}


<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"]</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/img/logo.png" type="image/png">

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700" rel="stylesheet">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css">

	<!-- Template CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/reponsive.css">
</head>

<body class="home home-1">
	<div id="all">
		<!-- Main Content -->
		<div id="content" class="site-content page-404">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="image mb-3" style="display: flex; justify-content: center;">
							<img class="img-responsive text-center" src="~/img/access-denied.jpg" width="60%" alt="Image 404">
						</div>
						<div class="text-center mb-3"><h1>Bạn không đủ quyền để vào vùng này.</h1></div>
						<div style="display: flex; justify-content: center;">
							<a class="btn btn-primary" asp-area="" asp-controller="MainPage" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i><span>Về Trang Chủ</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
