@using Microsoft.AspNetCore.Identity
@using ThongFastFood_Api.Data
@using System.Threading.Tasks

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	bool isAdmin = false;
	if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.GetUserAsync(User);
		if (user != null)
		{
			isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
		}
	}
}

@if (SignInManager.IsSignedIn(User))
{
	<div class="col-md-3 col-sm-5 col-xs-12">
		<div class="topbar-right d-flex justify-content-center">
			<!-- My Account -->
			<div class="dropdown account">
				<div class="dropdown-toggle" data-toggle="dropdown">
					Chào, @UserManager.GetUserName(User)!
				</div>
				<div class="dropdown-menu">
					@if (isAdmin)
					{
						<div class="item">
							<a asp-area="Admin" asp-controller="AdminMainPage" asp-action="MainPage">
								<i class="fa fa-user-secret"></i>Admin
							</a>
						</div>
					}
					<div class="item">
						<a asp-controller="MainPage" asp-action="UserInfo">
							<i class="fa fa-user"></i>Thông Tin
						</a>
					</div>
					<div class="item">
						<a asp-controller="MainPage" asp-action="CustomerOrder">
							<i class="fa fa-product-hunt"></i>Đơn Hàng
						</a>
					</div>
					<div class="item text-center">
						<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index" ,new { area = "" })">
							<button id="logout" type="submit" class="nav-link btn">Đăng xuất</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="col-md-3 col-sm-5 col-xs-12">
		<div class="topbar-right d-flex justify-content-center">
			<!-- My Account -->
			<div class="dropdown account">
				<div class="dropdown-toggle" data-toggle="dropdown">
					Tài Khoản
				</div>
				<div class="dropdown-menu">
					<div class="item">
						<a asp-area="Identity" asp-page="/Account/Login">
							<i class="fa fa-sign-in"></i>Đăng Nhập
						</a>
					</div>
					<div class="item">
						<a asp-area="Identity" asp-page="/Account/Register">
							<i class="fa fa-user"></i>
							Đăng Kí
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}







