@model IEnumerable<ThongFastFood_Api.Models.ComboVM>

@{
    ViewData["Title"] = "Combo";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}


<div class="section-body">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Quản Lí Combo</h2>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-12 col-md-12">
                        <a asp-action="CreateCombo" class="btn btn-primary">Thêm combo mới</a>
                    </div>
                </div>
                <table class="table" id="product-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Mã Combo</th>
                            <th scope="col">Tên Combo</th>
                            <th scope="col">Ảnh Combo</th>
                            <th scope="col">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="text-align: center;">
                                <td>@item.ComboId</td>
                                <td>@item.ComboName</td>
                                <td><img src="~/img/product/@item.ComboImage" width="100px" style="padding:15px" /></td>
                                <td>
                                    <a asp-action="EditCombo" asp-route-id="@item.ComboId" class="btn btn-primary">Sửa</a>
                                    <a asp-action="DeleteCombo" asp-route-id="@item.ComboId" class="btn btn-danger"
                                       onclick="return confirm('Bạn có chắc là muốn xóa combo này?')">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
