@model ThongFastFood_Api.Models.ComboVM

@{
    ViewData["Title"] = "CreateCombo";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}


<h2>Thêm mới Combo</h2>
<a asp-action="Combo" class="btn btn-danger">Trở về</a>

<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="CreateCombo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Tên Combo
                <input asp-for="ComboName" class="form-control" />
                <span asp-validation-for="ComboName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Giá Combo
                <input asp-for="ComboPrice" class="form-control" />
                <span asp-validation-for="ComboPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ảnh Combo
                <input asp-for="ComboImage" type="file" name="cbfile" class="form-control" />
                <span asp-validation-for="ComboImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mb-4 w-100" type="submit">Thêm</button>
            </div>
        </form>
    </div>
</div>
