@model ThongFastFood_Api.Data.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}


<h2>Sửa Loại Sản Phẩm</h2>

<a asp-action="Category" asp-controller="AdminQLCategory" class="btn btn-danger">Trở về</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label class="control-label">Tên loại sản phẩm</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mr-1" type="submit">Sửa</button>
            </div>
        </form>
    </div>
</div>
